<!-- note: start right glove only, modify args if left glove is also needed -->
<launch>
	<node name="gloveServer_node" pkg="asr_cyberglove_lib" type="gloveServer_node" args="-r --calibration-file-right $(find asr_cyberglove_lib)/cfg/GloveCalibrationRight.cal --tty-right /dev/ttyD0 -d 0" />
</launch>
